# Google Gemini API Key (Required for /explain endpoint)
GEMINI_API_KEY=zzzz

# Qdrant Vector DB
QDRANT_URL=https://4618e2eb-cffe-49bc-ac9d-6a9b05a67dda.europe-west3-0.gcp.cloud.qdrant.io

QDRANT_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.vteyhAsD8oR7vLcpk7cinG1Dr0DmFUB-qXufSMkyynk
# HuggingFace Cache (Optional, defaults to D:/Rahul/cineAI/data/hf_cache in code if not set here)
HF_HOME=d:/Rahul/cineAI/data/hf_cache
